// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
@import 'font-awesome/css/font-awesome.min.css'
// @import 'ionicons/css/ionicons.min.css'
// Check out "bower_components/prism/themes/" for available themes


.highlight-red {
  background-color #FF2D55
}

.circle 
  border-radius:50%

.red 
  color : #FF2D55


.red_shadow
  text-shadow: 10px 7px 0 rgba(255,0,0,0.5)
  color : #FF2D55
  
h2 
  .red_shadow
    text-shadow: 3px 3px 0 rgba(255,0,0,0.5)
    color : #FF2D55

p 
  .red_shadow
    text-shadow: 2px 2px 0 rgba(255,0,0,0.5)
    color : #FF2D55
  

.shiny
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
.super
  text-shadow: -10px 10px 0px #00e6e6,
                 -20px 20px 0px #01cccc,
                 -30px 30px 0px #00bdbd;
.shadow3d
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


.no-in-transition.bespoke-inactive
  transition : opacity 1s ease, transform 6s ease

.no-in-transition
  transition : none

blockquote {
 // background: #f9f9f9;
 // border-left: 10px solid #ccc;
 margin: 0.5em 10px;
 padding: 0.5em 10px;
 quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
 color: #ccc;
 content: open-quote;
 font-size: 4em;
 line-height: 0.1em;
 margin-right: 0.25em;
 vertical-align: -0.4em;
}
blockquote p {
 display: inline;
}
